@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

ul {
    list-style-type: none;
    padding:0;
}

.header a{
    text-decoration: none;
    color:white;
    transition: all 0.5s;
}

.header a:hover {
    color:#acacac;
}


.header {
    font-family: "Roboto Condensed", serif;
    color:white;
    display: flex;
    flex-wrap:nowrap;
    margin: 0 auto;
    margin-top: 30px;
    width:80%;
    height:40px;
    line-height: 50px;
}
.header > li {
    float:left;
}
#logo {
    font-size:35px;
    flex: 0 1 30%;
    white-space: nowrap;
}

#nav {
    font-size:20px;
    flex: 0 1 50%;
    white-space: nowrap;
}

#nav>div{
    float:left;
    width:25%;
    text-align: center;
}

#contact-logout{
    font-size:20px;
    flex: 0 1 20%;
}

#contact-logout>div{
    float:right;
    text-align: center;
    transition: all 0.5s;
}

#contact {
    width:35%;
    border: 2px solid white;
    border-radius:15px;
    margin-right: 10px;
}
#logout{
    width:35%;
    border: 2px solid white;
    border-radius:15px;
}

#contact:hover{
    background-color: white;
    color:#121212;
    cursor:pointer;
}

#logout:hover{
    background-color: white;
    color:#121212;
    cursor:pointer;
}

@media (max-width:780px){
    #logo{
        font-size:25px;
    }
    #nav {
        font-size:14px;
    }
    #contact-logout{
        font-size:14px;
    }
}