@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

.main-container {
    width:60%;
    margin: 0;
    text-align: center;
    position: absolute;
    top:8%;
    left:20%;
}

.main-container > h1 {
    padding: 0px;
    margin:0px;
    color:white;
    font-family: "Jersey 15", serif;
    font-weight: 400;
    font-style: normal;
    font-size:70px;
}

#gp {
    font-size:50px;
}

.main-container-button {
    display: flex;
    justify-content: center;
    opacity: 0.8;
}

.main-container-button > div {
    height: 58vh;
    margin:40px;
    background-color: white;
}

.index-button {
    flex: 1;
    overflow: hidden;
    transition: 0.5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    line-height: 0;
    border-radius: 10px;
    cursor: pointer;
}

.index-button > a > img {
    width: 100%;
    height: calc(100% - 10vh);
    object-fit: cover;
    transition: 0.5s;
}

a{
    color:#2a2a2a;
    text-decoration: none;
}
.index-button > a > span {
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 300%;
    font-family: "Do Hyeon", serif;
    font-weight: 400;
    font-style: normal;
    font-size:26px;
}

.index-button:hover {
	-webkit-transform: scale(1.07);
	transform: scale(1.07);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

@media (max-width:1024px){
    .main-container-button > div {
        height: 38vh;
        margin:20px;
        margin-top:50px;
        margin-bottom:100px;
    }
    .index-button > a > span {
        font-size:20px;
    }  
    .index-button > a > img {
        width: 100%;
        height: calc(100% - 8vh);
        object-fit: cover;
        transition: 0.5s;
    }
    #wc {
        font-size:50px;
    }
    #gp {
        font-size:35px;
    }
}