@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
ul {
    list-style-type: none;
    padding:0;
}

.header a{
    text-decoration: none;
    color:white;
    transition: all 0.5s;
}

.header a:hover {
    color:#acacac;
}


.header {
    font-family: "Roboto Condensed", serif;
    color:white;
    display: flex;
    flex-wrap:nowrap;
    margin: 0 auto;
    margin-top: 30px;
    width:80%;
    height:40px;
    line-height: 50px;
}
.header > li {
    float:left;
}
#logo {
    font-size:35px;
    flex: 0 1 30%;
    white-space: nowrap;
}

#nav {
    font-size:20px;
    flex: 0 1 50%;
    white-space: nowrap;
}

#nav>div{
    float:right;
    width:22%;
    text-align: center;
}

#contact-logout{
    font-size:20px;
    flex: 0 1 20%;
}

#contact-logout>div{
    float:right;
    text-align: center;
    transition: all 0.7s;
}

#contact {
    width:35%;
    border: 2px solid white;
    border-radius:15px;
    margin-right: 10px;
}
#logout{
    width:35%;
    border: 2px solid white;
    border-radius:15px;
}

#contact:hover{
    background-color: white;
    color:#121212;
    cursor:pointer;
}

#logout:hover{
    background-color: white;
    color:#121212;
    cursor:pointer;
}

@media (max-width:780px){
    #logo{
        font-size:25px;
    }
    #nav {
        font-size:14px;
    }
    #contact-logout{
        font-size:14px;
    }
}

#contact-container{
    z-index:-1;
    opacity: 0;
    position:absolute;
    width:600px;
    height:400px;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    border-radius:20px;
    background-color: rgba(46, 47, 48, 0.5);
    transition: all 0.5s;
}

#contact-box {
    display:flex;
    height:400px;
}
#contact-img-info{
    width:40%;
    margin-left:40px;
}
#contact-img {
    background:url(../img/contact_img.png) no-repeat;
    background-size: 100%;
    margin:auto;
    width:200px;
    height:200px;
    margin-top:100px;
    border-radius: 100px;
}

#contact-box > ul {
    width:60%;
    padding:0;
    margin:0;
    margin-left:40px;
    margin-top:120px;
}
#contact-box > ul > li {
    font-family: "Montserrat", serif;
    margin-top:20px;
}

.contact-name {
    color:white;
    font-size:25px;
    font-weight:500;
}

.contact-info {
    color:#b9b9b9;
    font-size:18px;
    background: linear-gradient(to top, #34315c 40%, transparent 40%);
}

#contact-tel {
    width:61%;
}

#contact-email {
    width:94%;
}

#exit-button{
    height:30px;
    width:30px;
    margin-right:5px;
    margin-top:5px;
    background:none;
    color:white;
    border-radius: 30px;
    font-weight:700;
    font-size:18px;
    transition: all 0.4s;
}

#exit-button:hover {
    cursor: pointer;
    background:rgb(0,0,0,0.5);
}