@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

.signup-container {
    width:60%;
    margin: 0;
    text-align: center;
    position: absolute;
    top:8%;
    left:20%;
}

h1 {
    font-family: "Gothic A1", serif;
    font-style: normal;
    color:white;
}

.signup-box {
    white-space: nowrap;
    font-family: "Gothic A1", serif;
    font-style: normal;
    background-color: rgb(39, 38, 38);
    border-radius: 20px;
    padding:20px;
    margin-bottom:40px;
}
.signup-box > ul {
    display: flex;
    flex-direction: column;
    width:90%;
}

.signup-box > ul > li {
    color:white;
    list-style-type: none;
    text-align: left;
    display:flex;
    width:100%;
    margin:auto;
    margin-top:20px;
}

.signup-box > ul > li > h3{
    margin-left:auto;
    width:150px;
    line-height: 0px;
}

.signup-box > ul > li > input{
    margin-right:auto;
    width:190px;
    height:25px;
    background-color: rgb(218, 218, 218);
    color: rgb(44,44,44);
    border-radius: 6px;
    border:1px solid gray;
    padding-left: 10px;
    transition: all 0.4s;
}

.signup-box > ul > li > input:focus{
    background-color: rgb(109, 109, 109);
    color: rgb(218, 218, 218);
}

.signup-box>ul>li>.info-input {
    margin-right:auto;
}

.info-input>input {
    width:190px;
    height:25px;
    background-color: rgb(218, 218, 218);
    color: rgb(44,44,44);
    border-radius: 6px;
    border:1px solid gray;
    padding-left: 10px;
    transition: all 0.4s;
}
.info-input>input:focus{
    background-color: rgb(109, 109, 109);
    color: rgb(218, 218, 218);
}

@media (max-width:760px) {
    .signup-box > ul > li > h3{
        font-size:14px;
    }
    .signup-box > ul > li > input{
        width:140px;
    }
    .signup-box>ul>li>.info-input>input {
        width:140px;
    }
}

.signup-info-msg {
    margin-top:3px;
    color:rgb(126, 126, 126);
    font-size:14px;
}

.signup-button {
    margin-top:20px;
    margin-bottom:30px;
    font-family: "Gothic A1", serif;
    font-style: normal;
    border: 0px;
    border-radius: 10px;
    width:200px;
    height:50px;
    color:rgb(87, 87, 87);
    background-color: rgb(218, 218, 218);
    font-size:25px;
    transition: all 0.6s;
}

.signup-button:hover {
    color:rgb(218, 218, 218);
    background-color: rgb(87, 87, 87);
    cursor:pointer;
}

.signup-alert {
    margin-top:2px;
    color:rgb(231, 109, 109);
    font-family: "Gothic A1", serif;
    font-size:13px;
    height: 0px;
    transition-duration: 500ms;
    transition-property: opacity;
    opacity: 0;
}