@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

.signup-container {
    width:60%;
    margin: 0;
    text-align: center;
    position: absolute;
    top:8%;
    left:20%;
}

h1 {
    font-family: "Gothic A1", serif;
    font-style: normal;
    color:white;
}

.signup-box {
    font-family: "Gothic A1", serif;
    font-style: normal;
    background-color: rgb(39, 38, 38);
    border-radius: 20px;
    padding:20px;
}
.signup-box > ul {
    display: flex;
    flex-direction: column;
    width:90%;
}

.signup-box > ul > li {
    color:white;
    list-style-type: none;
    text-align: left;
    display:flex;
    width:100%;
    margin:auto;
    margin-bottom:20px;
}

.signup-box > ul > li > h3{
    margin-left:auto;
    width:150px;
    line-height: 0px;
}

.signup-box > ul > li > input{
    margin-right:auto;
    width:200px;
    height:3vh;
}

@media (max-width:640px) {
    .signup-box > ul > li > h3{
        font-size:14px;
    }
    .signup-box > ul > li > input{
        width:140px;
    }
}