<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GMLEE</title>
    <link rel="stylesheet" href="../../css/fade.css" />
    <link rel="stylesheet" href="../../css/public.css" />
    <link rel="stylesheet" href="../../css/page/gallery.css" />
    <script src="../../js/style.js"></script>
    <script src="../../js/public.js"></script>
    <script src="../../js/page/gallery.js"></script>
</head>
<body class="fade" onload="loadImage()">
    <div id="contact-container"></div>
    <ul class="header"></ul>
    <div class="gallery-container">
        <div class="clicked-img-box">
            <div class="clicked-img"></div>
            <div class="exit-button" onclick="closeGalleryImg()"></div>
        </div>
        <div class="gallery-box">
        </div>
        <div class="gallery-page-button">
            <div onclick="prevButton()" class="gallery-left-button"><</div>
            <div class="gallery-page">1</div>
            <div onclick="nextButton()" class="gallery-right-button">></div>
        </div>
    </div>
    <div class="footer"></div>
    <script>
        getStyles();
    </script>
</body>
</html>