<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GMLEE</title>
    <link rel="stylesheet" href="../../css/fade.css" />
    <link rel="stylesheet" href="../../css/public.css"/>
    <link rel="stylesheet" href="../../css/page/guest.css"/>
    <script src="../../js/style.js"></script>
    <script src="../../js/public.js"></script>
    <script src="../../js/page/guest.js"></script>

    <link rel="stylesheet" href="../../css/floatstyle.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.js"></script>
    <script type="text/javascript" src="../../js/floatbutton.js" defer></script>
    <script src="../../js/page/jquery-ui.min.js"></script>
</head>
<body class="fade" onload="drawList(); settingMenu()">
    <div class="center menu">
        <div id="myMenu"></div>
    </div>
    <div id="contact-container"></div>
    <ul class="header"></ul>
    <div class="top-title">Guest</div>
    <div class="guest-wrap">
        <div class="guest-body">
            <ol id="guest-list">
   
            </ol>
        </div>
        <div class="guest-input-box">
            <div class="guest-nm">이름</div>
            <input class="guest-input-name" value="" readonly/>
            <button onclick="submitText()" class="guest-input-button">등록</button>
            <input class="guest-input-info"/>
        </div>
        <div onclick="resetData()" class="guest-home-button">□</div>
    </div>
    <div class="footer"></div>
    <script>
        getStyles();
    </script>
</body>
</html>