<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GMLEE</title>
    <link rel="stylesheet" href="../../css/page/mainPage.css" />
    <link rel="stylesheet" href="../../css/fade.css" />
    <link rel="stylesheet" href="../../css/public.css" />

    <script src="../../js/style.js"></script>
    <script src="../../js/public.js"></script>
    <script src="../../js/page/mainPage.js"></script>
    
    <link rel="stylesheet" href="../../css/floatstyle.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.js"></script>
    <script type="text/javascript" src="../../js/floatbutton.js" defer></script>
    <script src="../../js/page/jquery-ui.min.js"></script>
</head>
<body class="fade" onload="handleMain(window.innerWidth); settingMenu()">
    <div class="center menu">
        <div id="myMenu"></div>
    </div>
    <div id="contact-container"></div>
    <ul class="header"></ul>
    <div class="main-page-container">
        <h3>ABOUT ME</h3>
        <h5>안녕하세요🖐<br/>풀스택 개발자를 목표하는 <b style="color:white;">이건모</b> 입니다.🙂</h5>
        <div><button id="plus-button" style="display:none;" onclick="clickPlus()">+</button></div>
        <div id="main-page-box">
            <div id="main-page-left-box"></div>
            <div id="main-page-right-box">
                <ul>
                    <li>
                        <h4 class="yy">PROFILE</h4>
                        <ul>
                            <li class="lists">
                                <div class="left-msg">이름</div>
                                <div class="right-msg">이건모</div>
                            </li>
                            <li class="lists">
                                <div class="left-msg">생년월일</div>
                                <div class="right-msg">1997.12.10</div>
                            </li>
                            <li class="lists">
                                <div class="left-msg">거주지</div>
                                <div class="right-msg">경기도 성남시 수정구</div>
                            </li>
                            <li class="lists">
                                <div class="left-msg">최종학력</div>
                                <div class="right-msg">아주대학교 소프트웨어학과 졸업</div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h4 class="xx">TECH</h4>
                        <ul>
                            <li class="lists">
                                <div class="left-msg">Frontend</div>
                                <div class="right-msg">React, JSP, JS</div>
                            </li>
                            <li class="lists">
                                <div class="left-msg">Backend</div>
                                <div class="right-msg">NodeJS, Flask, Spring</div>
                            </li>
                            <li class="lists">
                                <div class="left-msg">Database</div>
                                <div class="right-msg">MySQL, MongoDB, FireStore</div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h4 class="xx">SITE</h4>
                        <ul id="sites">
                            <li class="lists">
                                <a href="https://github.com/rjsah5676"><div id="git-img" src="../../img/page/mainPage/github.png"></div></a>
                            </li>
                            <li class="lists">
                                <a href="https://rjsah5676.github.io/"><div id="gm-img" src="../../img/page/mainPage/logo.png"></div></a>
                            </li>
                            <li class="lists">
                                <a href="https://www.acmicpc.net/user/rjsah5676"><div id="acm-img" src="../../img/page/mainPage/acmicpc.png"></div></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer"></div>
    <script>
        getStyles();
    </script>
</body>
</html>