<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GMLEE</title>
    <link rel="stylesheet" href="../../css/fade.css" />
    <link rel="stylesheet" href="../../css/public.css" />
    <link rel="stylesheet" href="../../css/page/project.css" />
    <script src="../../js/style.js"></script>
    <script src="../../js/public.js"></script>
    <script src="../../js/page/project.js"></script>

    <link rel="stylesheet" href="../../css/floatstyle.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.js"></script>
    <script type="text/javascript" src="../../js/floatbutton.js" defer></script>
    <script src="../../js/page/jquery-ui.min.js"></script>
</head>
<body class="fade" onload="settingMenu()">
    <div class="center menu">
        <div id="myMenu"></div>
    </div>
    <div id="contact-container"></div>
    <div class="img-list" id="img-list-1">
        <div class='info-contents-img'>
            <div id="img-alert">◁ ▷ 이미지를 좌/우로 슬라이드 가능합니다.</div>
            <button id="img-exit" onclick="openImg(0,1)">X</button>
            <div class='banner_wrap'>
              <div class='slide_banner'>
                <img class='banner_image' src="../../img/page/project/yorijori/img_main.png"/>
                <img class='banner_image' src="../../img/page/project/yorijori/img_slide_5.png"/>
                <img class='banner_image' src="../../img/page/project/yorijori/img_write.png"/>
                <img class='banner_image' src="../../img/page/project/yorijori/img_slide_4.png"/>
                <div class='pre_arrow'>
                  <img onclick="leftImage(1,4)" src="../../img/page/project/left_arrow.png" alt=""/>
                </div>
                <div class='next_arrow'>
                  <img onclick="rightImage(1,4)" src="../../img/page/project/right_arrow.png" alt=""/>
                </div>
              </div>
            </div>
        </div>
    </div>

    <div class="img-list" id="img-list-2">
        <div class='info-contents-img'>
            <div id="img-alert">◁ ▷ 이미지를 좌/우로 슬라이드 가능합니다.</div>
            <button id="img-exit" onclick="openImg(0,2)">X</button>
            <div class='banner_wrap'>
              <div class='slide_banner'>
                <img class='banner_image' src="../../img/page/project/gmlee/img_1.png"/>
                <img class='banner_image' src="../../img/page/project/gmlee/img_2.png"/>
                <img class='banner_image' src="../../img/page/project/gmlee/img_3.png"/>
                <div class='pre_arrow'>
                  <img onclick="leftImage(2,3)" src="../../img/page/project/left_arrow.png" alt=""/>
                </div>
                <div class='next_arrow'>
                  <img onclick="rightImage(2,3)" src="../../img/page/project/right_arrow.png" alt=""/>
                </div>
              </div>
            </div>
        </div>
    </div>

    <div class="img-list" id="img-list-3">
        <div class='info-contents-img'>
            <div id="img-alert">◁ ▷ 이미지를 좌/우로 슬라이드 가능합니다.</div>
            <button id="img-exit" onclick="openImg(0,3)">X</button>
            <div class='banner_wrap'>
              <div class='slide_banner'>
                <img class='banner_image' src="../../img/page/project/airboard/img_1.png"/>
                <img class='banner_image' src="../../img/page/project/airboard/img_3.png"/>
                <img class='banner_image' src="../../img/page/project/airboard/img_4.png"/>
                <img class='banner_image' src="../../img/page/project/airboard/img_6.png"/>
                <div class='pre_arrow'>
                  <img onclick="leftImage(3,4)" src="../../img/page/project/left_arrow.png" alt=""/>
                </div>
                <div class='next_arrow'>
                  <img onclick="rightImage(3,4)" src="../../img/page/project/right_arrow.png" alt=""/>
                </div>
              </div>
            </div>
        </div>
    </div>

    <ul class="header"></ul>
    <div class="project-page-container">
        <div class="project-index-button">
            <div id="personal-button" onclick="clickPersonal()">Personal</div>
            <div id="team-button" onclick="clickTeam()">Team</div>
        </div>
        <div id="pl-viewer">
        <div id="pl-list">
        <div class="project-page-box" id="personal-box">
            <ul>
                <li>
                    <div class="content-box">
                        <div class="left-img" onclick="openImg(1,1)" style="background:url(../../img/page/project/YoriJori.png) no-repeat;"></div>
                        <div class="right-content">
                            <ul>
                                <li class="content-title" onclick="openImg(1,1)">
                                    음식 레시피 공유 사이트 [요리조리]
                                </li>
                                <li class="content-text">
                                    음식 레시피를 공유하는 커뮤니티 웹 사이트입니다.<br/> 이용자들은 음식 레시피를 등록할 수 있고 자유롭게 음식에 대한 리뷰를 남길 수 있습니다.
                                </li>
                                <li class="content-tech">
                                    <div class="tech-info">React</div>
                                    <div class="tech-info">NodeJS</div>
                                    <div class="tech-info">Ajax</div>
                                    <div class="tech-info">JQuery</div>
                                    <div class="tech-info">MongoDB</div>
                                </li>
                                <li class="content-site">
                                    <div class="lists">
                                        <a href="https://github.com/rjsah5676"><div id="git-img"></div></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="content-box">
                        <div class="left-img" onclick="openImg(1,2)" style="background:url(../../img/page/project/logo.png) no-repeat;"></div>
                        <div class="right-content">
                            <ul>
                                <li class="content-title" onclick="openImg(1,2)">
                                    개인 포트폴리오 [Gunmo's Dev Life]
                                </li>
                                <li class="content-text">
                                    React를 사용하여 개발한 나를 소개하는 사이트입니다.
                                </li>
                                <li class="content-tech">
                                    <div class="tech-info">React</div>
                                    <div class="tech-info">Firebase</div>
                                    <div class="tech-info">NodeJS</div>
                                </li>
                                <li class="content-site">
                                    <div class="lists">
                                        <a href="https://github.com/rjsah5676/rjsah5676.github.io"><div id="git-img"></div></a>
                                    </div>
                                    <div class="lists">
                                        <a href="https://rjsah5676.github.io/"><div id="page-out-img"></div></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="project-page-box" id="team-box">
            <ul>
                <li>
                    <div class="content-box">
                        <div class="left-img" onclick="openImg(1,3)" style="background:url(../../img/page/project/AirBoard.png) no-repeat;"></div>
                        <div class="right-content">
                            <ul>
                                <li class="content-title" onclick="openImg(1,3)">
                                    캠 필기 웹 화상 회의 서비스 [AirBoard]
                                </li>
                                <li class="content-text">
                                    웹 캠을 통한 필기 기능을 제공하는 화상 회의 플랫폼입니다.
                                </li>
                                <li class="content-tech">
                                    <div class="tech-info">WebRTC</div>
                                    <div class="tech-info">OpenCV</div>
                                    <div class="tech-info">NodeJS</div>
                                    <div class="tech-info">MongoDB</div>
                                </li>
                                <li class="content-site">
                                    <div class="lists">
                                        <a href="https://github.com/rjsah5676/Capstone-Design-2021-1-"><div id="git-img"></div></a>
                                    </div>
                                    <div class="lists">
                                        <a href="https://softcon.ajou.ac.kr/works/works_prev.asp?uid=421&wTerm=2021-1"><div id="page-out-img"></div></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
            <ul>
                <li>
                    <div class="content-box">
                        <div class="left-img" style="background:url(../../img/page/project/TaxProject.png) no-repeat;"></div>
                        <div class="right-content">
                            <ul>
                                <li class="content-title">
                                    인턴 프로젝트 [영천시 세무조사 홈페이지]
                                </li>
                                <li class="content-text">
                                    세무 신고서 작성 및 조회기능을 제공하는 영천시 세무조사 웹 사이트 입니다.
                                </li>
                                <li class="content-tech">
                                    <div class="tech-info">JSP</div>
                                    <div class="tech-info">Spring</div>
                                    <div class="tech-info">MySQL</div>
                                </li>
                                <li class="content-site">
                                    <div class="lists">
                                        <a href="https://github.com/rjsah5676/Tax-Investigation"><div id="git-img"></div></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        </div>
        </div>
    </div>
    <div class="footer"></div>
    <script>
        getStyles();
    </script>
</body>
</html>