#canvas-container {
    margin-left:10.1%;
    margin-top:200px;
    position: relative
}

.whiteboard{
    box-shadow: 0px 0px 7px black;
    position: absolute;
    z-index: 5;
    margin-left:5px;
    width: 79.8%;
    border-radius: 10px;
    padding:0;
    background-color: #ffffff;
}

.cursor_whiteboard{
    position: absolute;
    z-index: 6;
    margin-left:5px;
    width: 79.8%;
    border-radius: 10px;
    padding:0;
    background-color: transparent;
}