<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/fade.css" />
    <link rel="stylesheet" href="../css/signup.css" />
    <script src="../js/style.js"></script>
    <script src="../js/public.js"></script>
    <script src="../js/signup.js"></script>
</head>
<body class="fade">
    <a href="./index.html"><div id="gohome" onmouseout="unhoverHome()" onmouseover="hoverHome()" style="background:url(../img/home.jpg);margin:20px;width:60px;height:60px;transition:all 0.4s;"></div></a>
    <div class="signup-container">
        <h1>회원가입</h1>
        <form class="signup-box">
            <ul>
                <li>
                    <h3>아이디</h3><div class="info-input"><input type="text" id="user-id"/>
                        <div class="signup-info-msg">6자 이상 문자 조합</div>
                        <div class="signup-alert" id="id-alert-2">이미 존재하는 아이디입니다.</div>
                        <div class="signup-alert" id="id-alert">6자 이상 입력해주세요.</div>
                        <div class="signup-alert" id="id-alert-null">필수 입력 항목입니다.</div>
                    </div>
                </li>
                <li>
                    <h3>비밀번호</h3><div class="info-input"><input type="password" id="user-pw"/>
                        <div class="signup-info-msg">8자 이상 문자 조합</div>
                        <div class="signup-alert" id="pw-alert">8자 이상 입력해주세요.</div>
                        <div class="signup-alert" id="pw-alert-null">필수 입력 항목입니다.</div>
                    </div>
                </li>
                <li>
                    <h3>비밀번호 확인</h3><div class="info-input"><input type="password" id="user-pw-chk"/>
                    <div class="signup-alert" id="pw-chk-alert">비밀번호가 다릅니다.</div>
                    <div class="signup-alert" id="pw-chk-alert-null">필수 입력 항목입니다.</div></div>
                </li>
                <li>
                    <h3>이메일</h3><div class="info-input"><input type="text" style="width:84px;" id="user-email-1"/> @ <input type="text" id="user-email-2" style="width:68px;"/>
                    <div class="signup-info-msg">Ex) test@gmail.com</div>
                    <div class="signup-alert" id="email-alert">잘못된 형식입니다.</div>
                    <div class="signup-alert" id="email-alert-null">필수 입력 항목입니다.</div>
                </div>
                </li>
                <li>
                    <h3>이름</h3><div class="info-input"><input type="text" id="user-name"/>
                        <div class="signup-info-msg">2자 이상 문자 조합</div>
                        <div class="signup-alert" id="name-alert">2자 이상 입력해주세요.</div>
                        <div class="signup-alert" id="name-alert-null">필수 입력 항목입니다.</div>
                    </div>
                </li>
                <li>
                    <h3>생년월일</h3><div class="info-input"><input type="text" style="width:50px;" id="user-birth-1"/> - <input type="text" id="user-birth-2" style="width:40px;"/> - <input type="text" id="user-birth-3" style="width:40px;"/>
                        <div class="signup-info-msg">Ex) 1997-07-15</div>
                        <div class="signup-alert" id="birth-alert">잘못된 형식입니다.</div>
                        <div class="signup-alert" id="birth-alert-null">필수 입력 항목입니다.</div>
                    </div>
                </li>
            </ul>
            <input class="signup-button" type="button" onclick="signup()" value="가입"/>
        </form>
        <div class="footer"></div>
    </div>
    <script>
        getStyles();
    </script>
</body>
</html>